<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:epub="http://www.idpf.org/2007/ops"
>
  <head>
    <title>#{{number}} - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1><span class="koboSpan" id="kobo.{{number}}.1">#{{number}} - {{title}}</span></h1>
      <img width="{{width}}" height="{{height}}" src="{{number}}.png" />
      <p class="alt"><span class="koboSpan" id="kobo.{{number}}.2">Alt text: {{alt}}</span></p>
    </div>
  </body>
</html>
