<?xml version="1.0" encoding="UTF-8"?>
<package version="3.0" unique-identifier="BookID" xmlns="http://www.idpf.org/2007/opf">
    <metadata xmlns:opf="http://www.idpf.org/2007/opf" xmlns:dc="http://purl.org/dc/elements/1.1/">
        <dc:title>xkcd #{{first}} - #{{last}}</dc:title>
        <dc:language>en-US</dc:language>
        <dc:identifier id="BookID">urn:uuid:6e57b3b1-9b25-452b-b751-a2903e9a6989</dc:identifier>
        <dc:contributor id="contributor">xkcd-to-kobo</dc:contributor>
        <dc:creator>Randall Munroe</dc:creator>
        <meta property="dcterms:modified">{{time}}</meta>
        <meta name="cover" content="cover" />
        <meta property="rendition:orientation">portrait</meta>
        <meta property="rendition:spread">portrait</meta>
    </metadata>
    <manifest>
        <item id="ncx" href="toc.ncx" media-type="application/x-dtbncx+xml" />
        <item id="nav"
            href="nav.xhtml" properties="nav" media-type="application/xhtml+xml" />
        <item id="cover"
            href="cover.jpg" media-type="image/jpeg" properties="cover-image" />
        <item id="font" href="xkcd-script.ttf" media-type="application/x-font-ttf" />
        <item id="css" href="style.css" media-type="text/css"/>
        {% for comic in comics %}
            <item id="page_{{comic.number}}" href="{{comic.number}}.xhtml"
                media-type="application/xhtml+xml" />
            <item id="img_{{comic.number}}" href="{{comic.number}}.png"
                media-type="image/png" />
        {% endfor %}
    </manifest>
    <spine page-progression-direction="ltr" toc="ncx">
        {% for comic in comics %}
            <itemref idref="page_{{comic.number}}" />
        {% endfor %}
    </spine>
</package>